<div class="header">
  <div class ="container head-text">
      <h2><i class="fab fa-artstation"></i>Dashboard</h2>
      <h2><i class="far fa-user-circle"></i>User Profile</h2>
      <h2><i class="far fa-circle"></i>API Collection</h2>
  </div>
</div>
<div class="container">
  <div class="usps d-flex justify-content-around">
    <div class="usp">
      <H2>Sunset API</h2>
      <p>hello</p>
    </div>
    <div class="usp">
      <h2>Deprecated API</h2>
      <p>hello</p>
    </div>
  </div>
</div>


